<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IB130149MIS_DAL.Properties.Settings.si105ConnectionString"
            connectionString="Data Source=BBABIC-PC\SQLEXPRESS2012;Initial Catalog=si105;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>